// Layouts
section.section-top-45.section-bottom-85
  .shell
    .range
      .cell-xs-12
        h3 Image Centered
        figure
          +jpg('typography-1-1169x610')
        p.offset-top-25.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus ad alias amet, at consectetur consequatur consequuntur culpa dicta dolore dolorem eius eos error
          eveniet hic id illo iste itaque libero molestias, nam natus nisi nobis nostrum numquam officia officiis
    .range.offset-top-38
      .cell-xs-12
        h3 Image Left
      .cell-xs-12.offset-top-25
        .range
          .cell-xs-12.cell-sm-8.cell-md-6
            figure
              +jpg('typography-2-570x386')
          .cell-xs-12.cell-md-6.offset-top-30.offset-md-top-0
            .inset-md-left-30.inset-lg-left-70
              p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
                deleniti eaque eum exercitationem fugit in, ipsum, itaque minus molestias nam nobis officia quidem quisquam ratione recusandae reprehenderit veniam vero voluptates! A ad aspernatur autem corporis, culpa deleniti dignissimos id in iure, laudantium magnam maxime nostrum, praesentium quam soluta tempora voluptates? Alias aliquam architecto consequatur doloribus dolorum est ex excepturi facere in, iusto pariatur provident,
                quod repudiandae! Accusantium aliquid amet aut beatae consequatur dignissimos dolores ducimus fuga, id iste itaque molestias nisi nostrum omnis perspiciatis quasi qui, quia quisquam, tenetur ullam unde velit veniam! Aliquam aliquid aut commodi cumque dolorem, ducimus enim eos harum id illum, ipsa iusto, laborum magnam maiores minima necessitatibus obcaecati optio provident

      .cell-xs-12.offset-top-45
        h3 Image Right
      .cell-xs-12.offset-top-25
        .range.range-sm-right.range-md-reverse
          .cell-xs-12.cell-sm-8.cell-md-6
            figure
              +jpg('typography-3-570x386')
          .cell-xs-12.cell-md-6.offset-top-30.offset-md-top-0
            .inset-md-right-30.inset-lg-right-70
              p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
                deleniti eaque eum exercitationem fugit in, ipsum, itaque minus molestias nam nobis officia quidem quisquam ratione recusandae reprehenderit veniam vero voluptates! A ad aspernatur autem corporis, culpa deleniti dignissimos id in iure, laudantium magnam maxime nostrum, praesentium quam soluta tempora voluptates? Alias aliquam architecto consequatur doloribus dolorum est ex excepturi facere in, iusto pariatur provident,
                quod repudiandae! Accusantium aliquid amet aut beatae consequatur dignissimos dolores ducimus fuga, id iste itaque molestias nisi nostrum omnis perspiciatis quasi qui, quia quisquam, tenetur ullam unde velit veniam! Aliquam aliquid aut commodi cumque dolorem, ducimus enim eos harum id illum, ipsa iusto, laborum magnam maiores minima necessitatibus obcaecati optio provident

  ='\n'