- var menu = ['Home', 'About Us', 'Services', 'Blog', 'Pages', 'Contacts'];
- var footerMenu = ['About', 'Blog', 'Contacts', 'Typography', 'Services', 'Careers', 'Our team'];
- var pageMenu = [{title: 'About Us', link: 'about.html'}, {title: 'Career', link: 'careers.html'}, {title: 'Team', link: 'team.html'}]
- var layouts = [{title: 'Header Default', link: 'index.html'}, {title: 'Footer Default', link: 'index.html'}, {title: 'Header Light', link: 'header-light.html'}, {title: 'Header Contrast', link: 'header-contrast.html'}, {title: 'Footer Minimal', link: 'footer-minimal.html'}, {title: 'Footer Blog', link: 'footer-blog.html'}]