extends  ../_skeleton

block variables
  - var footerLayout = 0

block title
  title=layouts[2].title

block page
  // Page Header
  include ../_header

  // Page Content
  main.page-content
    +heading(layouts[2].title)
    +breadcrumbs([[layouts[2].title]])
    include ../_includes/_placeholder
    include ../_includes/_brands-carousel

  // Page Footer
  include ../_footer